
<div class="navbar">
    <a href="#home">Home</a>
    <a href="#news">News</a>
    <div class="dropdown">
      <button class="dropbtn">LOGIN
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink="accountdepartmentlogin">Account Department</a>
        <a routerLink="adminmanagerlogin">Admin Department Login</a>
        <a routerLink="customerlogin">Customer Login</a>
        <a routerLink="salesdepartmentlogin">Sales DepartMent Login</a>
        <a routerLink="verificationdepartmentlogin">Verification Departmnet Login</a>
        <a routerLink="creditdepartmentlogin">Credit Departmnet Login</a>
   
      </div>
    </div>



