 <!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">
  <h3 class="w3-bar-item">Admin Dashboard</h3>
  <a routerLink="enquirylist" class="w3-bar-item w3-button">Enquiry List</a>
  <a routerLink="loanapplicationlist" class="w3-bar-item w3-button">loanapplicationlist </a>
  <a routerLink="registercustomer" class="w3-bar-item w3-button">registercustomer</a>
  <a routerLink="admindepartmentemployee" class="w3-bar-item w3-button">admindepartmentemployee</a>
  <a routerLink="salesdepartmentemployee" class="w3-bar-item w3-button">salesdepartmentemployee </a>
  <a routerLink="accountdepartmentemployee" class="w3-bar-item w3-button">AccountDepartmentEmployeeComponent</a>
  <a routerLink="documentverificationemployee" class="w3-bar-item w3-button">DocumentVerificationDepartmentEmployeeComponent </a>
  <a routerLink="creditdepartmentemployee" class="w3-bar-item w3-button">CreditDepartmentEmployeeComponent</a>
    
  
   



</div>

<!-- Page Content -->
<!-- <div style="margin-left:15%">

<div class="w3-container w3-teal">
  <h1>My Page</h1>
</div>

<img src="img_car.jpg" alt="Car" style="width:100%">

<div class="w3-container">
<h2>Sidebar Navigation Example</h2>
<p>The sidebar with is set with "style="width:25%".</p>
<p>The left margin of the page content is set to the same value.</p>
</div>

</div> -->
      
</body>
</html>
